
// Publications Skeleton
.publication {
  .publication-main {
    position: relative;
    padding: 30px 40px 40px 60px;

    .publication-icon {
      position: absolute;
      left: -10px;
      margin-top: -13px;
    }
  }
}